* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 75, 65, 0.822);
}

/* Header */

header {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
    user-select: none;
}

/* Navigation */

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}

a {
    font-size: 3rem;
    background-color: transparent;
    color: white;
    text-decoration: none;
}

a:nth-child(1){
    color: aqua;
    transition: 0.5s;
    width: 120px;
    height: 50px;
    user-select: none;

}

a:nth-child(1):hover{
    background-color: aqua;
    color: black;
    border-radius: 15px;
}

a:nth-child(2){
    color: rgb(0, 132, 255);
    transition: 0.5s;
    width: 150px;
    height: 50px;
}

a:nth-child(2):hover{
    background-color: rgb(0, 132, 255);
    color: black;
    border-radius: 15px;
}

/* About us */

main {
    width: 90%;
    height: 50%;
    border: 5px solid black;
    position: relative;
    left: 100px;
    top: 100px;

}

.about-us {
    font-size: 2.5rem;
    color: white;
}

/* Footer */

footer {
    width: 100%;
    height: 26.7%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer {
    font-size: 2rem;
    color: white;
}

/* Wave */

.svg1 {
    position: relative;
    bottom: 400px;
    z-index: -1;
}

.svg2 {
    position: relative;
    bottom: 800px;
    z-index: -1;
    animation: move 15s linear infinite;
}

@keyframes move {
    0% {
        bottom: 750px;
    }
    50% {
        bottom: 800px;
    }
    100% {
        bottom: 750px;
    }
}

/* Media query */

@media screen and (max-width: 1440px){
    .title{
        font-size: 2rem;
    }
}